.search-wrap {
	float: right;
	display: block;
	width: 210px;
	height: 40px;
	padding-left: 35px;
	line-height: 40px;
	background: transparent url(../img/Magnifying-Glass.png) no-repeat left 10px top 13px;
}

.search {
	background-color: transparent;
	height: 40px;
	width: 180px;
	padding: 0 7px;
	font-size: 13px;
	line-height: 40px;
	font-weight: 600;
	border-left: 1px solid #b4b4b4;
}

.search::-webkit-input-placeholder { /* WebKit browsers */
	opacity: 0.8;
	color: #333333;
}
.search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	opacity: 0.8;
	color: #333333;
}
.search::-moz-placeholder { /* Mozilla Firefox 19+ */
	opacity: 0.8;
	color: #333333;
}
.search:-ms-input-placeholder { /* Internet Explorer 10+ */
	opacity: 0.8;
	color: #333333;
}
